.mealCase{
    margin: auto;        
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 350px;    
    background-color: #ffffff;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mealDel{
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 0.9em;
    font-weight: 250;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #01022e;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    margin-right: 10px;
}

.editMealBut{
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 0.9em;
    font-weight: 250;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #01022e;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.melCat{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.melIng{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.melIns{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.melCal{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.melPor{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
}